In [1]:
import pandas as pd
import numpy as np

In [2]:
# link1 = "./BD/name.basics.tsv.gz"
# link2 = "./BD/title.akas.tsv.gz"
# link3 = "./BD/title.basics.tsv.gz"
# link4 = "./BD/title.crew.tsv.gz"
# link5 = "./BD/title.episode.tsv.gz"
# link6 = "./BD/title.principals.tsv.gz"
link7 = "./BD/title.ratings.tsv.gz"
# link8 = "./BD/tmdb_full.csv"
# df_basic_name = pd.read_csv(link1, sep = "\t", compression = "gzip")
# df_t_akas = pd.read_csv(link2, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_crew = pd.read_csv(link4, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip", nrows = 1000)
# df_t_principals = pd.read_csv(link6, sep = "\t", compression = "gzip", nrows = 1000)
df_t_ratings = pd.read_csv(link7, sep = "\t", compression = "gzip")
# df_tmdb = pd.read_csv(link8, nrows = 1000)

In [3]:
# Création d'une copie :
df_t_ratings_Clean = df_t_ratings.copy()

In [5]:
df_t_ratings_Clean

            tconst  averageRating  numVotes
0        tt0000001            5.7      2106
1        tt0000002            5.6       283
2        tt0000003            6.5      2128
3        tt0000004            5.4       182
4        tt0000005            6.2      2859
...            ...            ...       ...
1506745  tt9916730            7.0        12
1506746  tt9916766            7.1        24
1506747  tt9916778            7.2        37
1506748  tt9916840            6.9        11
1506749  tt9916880            7.9         9

[1506750 rows x 3 columns]

In [4]:
df_t_ratings_Clean.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [5]:
df_t_ratings_Clean[df_t_ratings_Clean['tconst']=='\\N']

Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []

In [6]:
df_t_ratings_Clean[df_t_ratings_Clean['averageRating']=='\\N']

Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []

In [7]:
df_t_ratings_Clean[df_t_ratings_Clean['numVotes']=='\\N']

Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []

In [9]:
df_t_ratings_Clean.to_csv('df_t_ratings_clean.csv', index = False)