In [1]:
import pandas as pd
import numpy as np

In [ ]:
# import des modules :
import pandas as pd
import numpy as np

#Récupération de la BD :
link5 = "./BD/title.episode.tsv.gz"
df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip")

# Création d'une copie :
df_t_episode_Clean= df_t_episode.copy()

# Netoyage des données:
valNull = df_t_episode_Clean.isna().sum() #0 valeurs
duplicated = df_t_episode_Clean.duplicated().sum()  # 0valeurs mais y a \N à traiter

#Etape 1 : Transformation des valeurs \N en NAN
df_t_episode_Clean['seasonNumber'] = df_t_episode_Clean ['seasonNumber'].replace(r'\N', np.nan)
df_t_episode_Clean['episodeNumber'] = df_t_episode_Clean ['episodeNumber'].replace(r'\N', np.nan)
df_t_episode_Clean['IdSerie'] = True #création d'une colonne qui service lors du merge avec title basic pour distinguer les séries.

# Etape intremédiaire : copy pour la suppression de colonne:
df_t_episode_Clean1 = df_t_episode_Clean.copy()

#Etape : suppression des colonne qu'on va pas utiliser:
df_t_episode_Clean1 = df_t_episode_Clean1.drop(columns = ['seasonNumber', 'episodeNumber'])

In [ ]:
link3 = "./BD/title.basics.tsv.gz"
df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip")

In [2]:
link5 = "./BD/title.episode.tsv.gz"
df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip")

df_t_episode_Clean= df_t_episode.copy()

In [3]:
df_t_episode_Clean['seasonNumber'] = df_t_episode_Clean ['seasonNumber'].replace(r'\N', np.nan)
df_t_episode_Clean['episodeNumber'] = df_t_episode_Clean ['episodeNumber'].replace(r'\N', np.nan)
df_t_episode_Clean['IdSerie'] = True
df_t_episode_Clean

            tconst parentTconst seasonNumber episodeNumber  IdSerie
0        tt0031458   tt32857063          NaN           NaN     True
1        tt0041951    tt0041038            1             9     True
2        tt0042816    tt0989125            1            17     True
3        tt0042889    tt0989125          NaN           NaN     True
4        tt0043426    tt0040051            3            42     True
...            ...          ...          ...           ...      ...
8654981  tt9916846    tt1289683            3            18     True
8654982  tt9916848    tt1289683            3            17     True
8654983  tt9916850    tt1289683            3            19     True
8654984  tt9916852    tt1289683            3            20     True
8654985  tt9916880    tt0985991            4             2     True

[8654986 rows x 5 columns]

In [7]:
df_t_episode_Clean1 = df_t_episode_Clean.copy()

In [8]:
df_t_episode_Clean1 = df_t_episode_Clean1.drop(columns = ['seasonNumber', 'episodeNumber'])

In [11]:
df_t_episode_Clean1.to_csv('df_t_episode_clean.csv', index = False)

In [7]:
df_t_episode.isna().sum()

tconst                 0
parentTconst           0
seasonNumber     1745883
episodeNumber    1745883
IdSerie                0
dtype: int64

In [ ]:
# Vu le nombre important des valeurs vide = 1745883/8654986c = 20.17%
# vérifier s=avec un ler=ge si possible de récuperer les info depuis TBasics

In [9]:
#Filtrage table df_t_basics et merge
df_t_episode_tBasics = df_t_episode[['tconst', 'parentTconst', 'seasonNumber','episodeNumber' , "IdSerie"]]
df_t_episode_tBasics  = pd.merge(df_t_basics, df_t_basics, how = 'left', on = 'tconst')
# df_t_episode_tBasics.sort_values('nconst')

KeyError: "['IdSerie'] not in index"