In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [14]:
link1 = "./BD/name.basics.tsv.gz"
link2 = "./BD/title.akas.tsv.gz"
link3 = "./BD/title.basics.tsv.gz"
link4 = "./BD/title.crew.tsv.gz"
link5 = "./BD/title.episode.tsv.gz"
link6 = "./BD/title.principals.tsv.gz"
link7 = "./BD/title.ratings.tsv.gz"
link8 = "./BD/tmdb_full.csv"
df_basic_name = pd.read_csv(link1, sep = "\t", compression = "gzip", nrows = 10000)
df_t_akas = pd.read_csv(link2, sep = "\t", compression = "gzip", nrows = 10000)
df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip", nrows = 10000)
df_t_crew = pd.read_csv(link4, sep = "\t", compression = "gzip", nrows = 10000)
df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip", nrows = 10000)
df_t_principals = pd.read_csv(link6, sep = "\t", compression = "gzip", nrows = 10000)
df_t_ratings = pd.read_csv(link7, sep = "\t", compression = "gzip", nrows = 10000)
df_tmdb = pd.read_csv(link8, nrows = 10000)

In [ ]:
link1b = "./BD/df_basic_name_clean.csv"
link3b = "./BD/df_t_basics_clean.csv"
link6b = "./BD/df_t_principals_clean.csv"

df_basic_name_clean = pd.read_csv(link1b, nrows = 10000)
df_t_basics_clean = pd.read_csv(link3b, nrows = 10000)
df_t_principals_clean = pd.read_csv(link6b, nrows = 10000)

In [ ]:
#Filtrage table df_t_principals
dftp = df_t_principals_clean[['nconst', 'tconst', 'category']]
dftp = dftp[(dftp['category'] == 'actor') | (dftp['category'] == 'actress')]
dftp = dftp.sort_values('nconst')

#Filtrage table df_t_basics et merge
df_t_basic_kpi = df_t_basics_clean[df_t_basics_clean['titleType'] == 'movie']
dftb = df_t_basic_kpi[['tconst', 'primaryTitle', 'startYear']]
dftbp = pd.merge(dftp, dftb, how = 'left', on = 'tconst')
dftbp.sort_values('nconst')

#Filtrage table df_basic_name et merge final
dfbn = df_basic_name_clean[['nconst', 'primaryName']]
dftbpn = pd.merge(dfbn, dftbp, how = 'right', on = 'nconst' )
dftbpn.sort_values('nconst')
df_kpi1 = dftbpn[['nconst', 'primaryName', 'tconst', 'primaryTitle', 'startYear']]
df_kpi1 = df_kpi1.drop_duplicates()

In [25]:
df_kpi1

         nconst    primaryName     tconst primaryTitle  startYear
0     nm0000428  D.W. Griffith  tt0000708          NaN        NaN
1     nm0000428  D.W. Griffith  tt0001469          NaN        NaN
2     nm0000428  D.W. Griffith  tt0000683          NaN        NaN
3     nm0000428  D.W. Griffith  tt0000627          NaN        NaN
4     nm0000428  D.W. Griffith  tt0000783          NaN        NaN
...         ...            ...        ...          ...        ...
5907  nm9335353            NaN  tt0000575          NaN        NaN
5908  nm9335353            NaN  tt0000769          NaN        NaN
5909  nm9342429            NaN  tt0000132          NaN        NaN
5910  nm9473330            NaN  tt0000465          NaN        NaN
5911  nm9880573            NaN  tt0001148          NaN        NaN

[5912 rows x 5 columns]

In [28]:
df_kpi1 = df_kpi1.groupby('startYear').agg(list).reset_index()

In [29]:
df_kpi1['startYear'] = df_kpi1['startYear'].astype('int')

In [24]:
def periode(x):
    if x < 1910:
        return 'Avant 1910' 
    if 1910 <= x < 1920:
        return "10's"
    if 1920 <= x < 1930:
        return "20's"
    if 1930 <= x < 1940:
        return "30's"
    if 1940 <= x < 1950:
        return "40's"
    if 1950 <= x < 1960:
        return "50's"
    if 1960 <= x < 1970:
        return "60's"
    if 1970 <= x < 1980:
        return "70's"
    if 1980 <= x < 1990:
        return "80's"
    if 1990 <= x < 2000:
        return "90's"
    if 2000 <= x < 2010:
        return "2000's"
    if 2010 <= x < 2020:
        return "2010's"
    else:
        return "2020's"

In [31]:
df_kpi1['decenie'] = df_kpi1['startYear'].apply(periode)

In [ ]:
df_kpi1 = df_kpi1.groupby('decenie').agg(list).reset_index()

,startYear,nconst,primaryName,tconst,primaryTitle,decenie
0,1893,"[nm0443482, nm0653042]","[nan, nan]","[tt0000005, tt0000005]","[Blacksmith Scene, Blacksmith Scene]",Avant 1910
1,1894,"[nm0063086, nm0179163, nm0183823, nm0183947, n...","[nan, nan, nan, nan, nan, nan]","[tt0000009, tt0000007, tt0000009, tt0000007, t...","[Miss Jerry, Corbett and Courtney Before the K...",Avant 1910
2,1895,"[nm0166380, nm0244989, nm3691272, nm3692071, n...","[nan, nan, nan, nan, nan, nan, nan]","[tt0000014, tt0000014, tt0000017, tt0000018, t...","[The Waterer Watered, The Waterer Watered, Ita...",Avant 1910
3,1896,"[nm0194945, nm0194945, nm0420198, nm0420198, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000091, tt0000075, tt0000464, tt0000110, t...","[The House of the Devil, The Conjuring of a Wo...",Avant 1910
4,1897,"[nm0005717, nm0024876, nm0168621, nm0194945, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000165, tt0000165, tt0000142, tt0000151, t...","[RiÃ±a en un cafÃ©, RiÃ±a en un cafÃ©, Buffalo Bil...",Avant 1910
5,1898,"[nm0085865, nm0085865, nm0194945, nm0617588, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000214, tt0000177, tt0000211, tt0000211, t...","[Tearing Down the Spanish Flag, The Burglar on...",Avant 1910
6,1899,"[nm0002504, nm0076933, nm0177548, nm0194945, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000247, tt0000230, tt0000247, tt0000230, t...","[King John, Cinderella, King John, Cinderella,...",Avant 1910
7,1900,"[nm0076800, nm0085865, nm0085865, nm0112631, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000306, tt0000300, tt0000307, tt0000305, t...","[Hamlet, Duel Scene with Laertes, The Enchante...",Avant 1910
8,1901,"[nm0051042, nm0078562, nm0086082, nm0168621, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000376, tt0000376, tt0000376, tt0000347, t...","[A tÃ¡ncz, A tÃ¡ncz, A tÃ¡ncz, Buffalo Bill's Wil...",Avant 1910
9,1902,"[nm0029244, nm0076933, nm0168621, nm0194945, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000417, tt0000417, tt0000381, tt0000417, t...","[A Trip to the Moon, A Trip to the Moon, Buffa...",Avant 1910
10,1903,"[nm0001908, nm0001908, nm0007625, nm0055607, n...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[tt0000439, tt0000452, tt0000439, tt0000439, t...","[The Great Train Robbery, The Messenger Boy's ...",Avant 1910