In [3]:
import pandas as pd

In [62]:
link1 = "./BD/df_basic_name_clean.csv"
link2 = "./BD/df_t_akas_clean.csv"
link3 = "./BD/df_t_basics_clean.csv"
link4 = "./BD/df_t_crew_clean.csv"
link5 = "./BD/df_t_episode_clean.csv"
link6 = "./BD/df_t_principals_clean.csv"
link7 = "./BD/df_t_ratings_clean.csv"
link8 = "./BD/tmdb_full.csv"
link9 = "./BD/df_tID.csv"
link10 = "./BD/df_nID.csv"

In [20]:
df_basic_name = pd.read_csv(link1)

In [12]:
df_t_akas = pd.read_csv(link2)

In [6]:
df_t_basics = pd.read_csv(link3)

In [39]:
df_t_crew = pd.read_csv(link4)

In [ ]:
df_t_episode = pd.read_csv(link5nope)

In [5]:
df_t_principals = pd.read_csv(link6)

In [16]:
df_t_ratings = pd.read_csv(link7)

In [14]:
df_tmdb = pd.read_csv(link8)

C:\Users\Antoine\AppData\Local\Temp\ipykernel_14296\4261131250.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb = pd.read_csv(link8)

In [37]:
df_tID = pd.read_csv(link9)

In [63]:
df_nID = pd.read_csv(link10)

On veut 2 df: un df avec index tconst et un avec index nconst
1.  Commençons par df_tID

In [ ]:
# Prépartion table title basics en premier car elle permet de selectionner les 'movies' et les années souhaitées
df_tb_tconst = df_t_basics[(df_t_basics['titleType'] == 'movie') & (df_t_basics['startYear'] >= 1950) & (df_t_basics['isAdult'] == 0)]
df_tb_tconst = df_tb_tconst[['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes', 'genres']]

#Préparation table title principals
df_ptconst = df_t_principals.groupby('tconst').agg(list).reset_index()
df_ptconst = df_ptconst.drop('category', axis = 1)

#Premier merge avec title basic en pivot
df_tID = pd.merge(df_tb_tconst, df_ptconst, how = 'left', on='tconst')

#2e merge avec akas deja nettoyé
df_tID = pd.merge(df_tID, df_t_akas, how = 'left', left_on='tconst', right_on='titleId')

#3e merge avec ratings déjà nettoyé
df_tID = pd.merge(df_tID, df_t_ratings, how = 'left', on='tconst')

#4e merge avec les directors de title crew
df_t_crew_fusion = df_t_crew[['tconst', 'directors']]
df_tID = pd.merge(df_tID, df_t_crew_fusion how = 'left', on='tconst')


#Renommage des colonnes
df_tID = df_tID.rename(columns={'tconst' : 't_ID', 'primaryTitle' : 'Titre_Principal', 'startYear' : 'Année', 'genres' : 'Genres', 'runtimeMinutes' : 'Durée', 'nnconst' : 'n_ID_liste', 'title' : 'Titres_possibles', 'averageRating' : 'Note_moyenne', 'numVotes' : 'Nb_votants', 'directors' : 'Réalisateurs'})

#Drop colonnes doublons
df_tID = df_tID.drop(['tconst', 'titleId'], axis = 1)

#Réorganisation des colonnes
df_tID = df_tID[['t_ID', 'Titre_Principal', 'Année', 'Réalisateurs', 'n_ID_liste', 'Durée', 'Genres', 'Note_moyenne', 'Nb_votants', 'Titres_possibles']]

#Trie par année
df_tID = df_tID.sort_values('Année')

#reset index
df_tID= df_tID.reset_index().drop('index', axis = 1)

#Export
df_tID.to_csv('df_tID.csv', index = False)

In [65]:
df_tID

,t_ID,Titre_Principal,Année,Réalisateurs,n_ID_liste,Durée,Genres,Note_moyenne,Nb_votants,Titres_possibles
0,tt0011801,Tötet nicht mehr,2019.0,['nm0681726'],"['nm0681726', 'nm0692612', 'nm0726256', 'nm077...",NaN,"['Action', 'Crime']",NaN,NaN,"['Tötet nicht mehr', 'Misericordia - Tötet nic..."
1,tt0015414,La tierra de los toros,2000.0,['nm0615736'],"['nm0147437', 'nm0615736', 'nm0615736', 'nm061...",60.0,['\\N'],5.4,17.0,"['La tierra de los toros', 'La terre des taure..."
2,tt0015724,Dama de noche,1993.0,['nm0529960'],"['nm0844752', 'nm0869732', 'nm0194720', 'nm065...",102.0,"['Drama', 'Mystery', 'Romance']",6.3,31.0,"['Dama de noche', 'Dama de noche', 'Éjszakai g..."
3,tt0021617,Arizona Territory,1950.0,['nm0289297'],"['nm0934290', 'nm0167395', 'nm0766912', 'nm060...",56.0,['Western'],6.0,61.0,"['Arizona Territory', 'Arizona Territory', 'Cu..."
4,tt0022064,Lebbra bianca,1951.0,['nm0871077'],"['nm0709790', 'nm0561755', 'nm0623443', 'nm048...",80.0,['Drama'],5.2,62.0,"['Lebbra bianca', 'A Lebre Branca', 'Brief Rap..."
...,...,...,...,...,...,...,...,...,...,...
517165,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015.0,"['nm9272490', 'nm9272491']","['nm9272513', 'nm10538557', 'nm10538558', 'nm1...",57.0,['Documentary'],NaN,NaN,['Rodolpho Teóphilo - O Legado de um Pioneiro'...
517166,tt9916680,De la ilusión al desconcierto: cine colombiano...,2007.0,['nm0652213'],"['nm0033355', 'nm0127882', 'nm0133349', 'nm105...",100.0,['Documentary'],NaN,NaN,['De la ilusión al desconcierto: cine colombia...
517167,tt9916706,Dankyavar Danka,2013.0,['nm7764440'],"['nm1778107', 'nm2585097', 'nm5697682', 'nm327...",NaN,['Comedy'],7.7,9.0,"['Dankyavar Danka', 'Dankyavar Danka']"
517168,tt9916730,6 Gunn,2017.0,['nm10538612'],"['nm6096005', 'nm0059461', 'nm13233318', 'nm48...",116.0,['Drama'],7.0,12.0,"['6 Gunn', '६ गुण']"
517169,tt9916754,Chico Albuquerque - Revelações,2013.0,"['nm9272490', 'nm8349149']","['nm10538632', 'nm3699941', 'nm9813366', 'nm88...",49.0,['Documentary'],NaN,NaN,"['Chico Albuquerque - Revelações', 'Chico Albu..."

2. Ensuite un df_nID

In [ ]:
#Tri de la table title basic pour avoir les tconst correspondant aux films
df_tb_nconst = df_tb_tconst = df_t_basics[(df_t_basics['titleType'] == 'movie') & (df_t_basics['startYear'] >= 1950) & (df_t_basics['isAdult'] == 0)]
df_tb_nconst = df_tb_nconst[['tconst']]
df_tb_nconst = df_tb_nconst.reset_index()

# Préparation table title principals avec seulement les acteurs
df_t_principals_fusion = df_t_principals[(df_t_principals['category'] == 'actor') | (df_t_principals['category'] == 'actress')]
df_t_principals_fusion = df_t_principals_fusion.drop('category', axis = 1)

#Premier groupby tconst pour merge avec les tconst triés de title basics
df_t_principals_fusion.groupby('tconst').agg(list).reset_index()

#Premier merge par tconst
df_nID = pd.merge(df_t_principals_fusion, df_tb_nconst, how = 'left', on = 'tconst')

#Explode de la table mergée pour refaire le bon groupby cette fois par nconst
df_nID = df_nID.explode('nconst')
df_nID = df_nID.groupby('nconst').agg(list).reset_index()
df_nID = df_nID.drop('index', axis = 1)

#Ajouter des colonnes d'infos de l'acteur et une colonne nb de films:
df_basic_name_fusion = df_basic_name[['nconst', 'primaryName', 'birthYear', 'deathYear']]
df_nID = pd.merge(df_nID, df_basic_name_fusion, how = 'left', on = 'nconst')
df_nID['Nb_films'] = df_nID['tconst'].apply(lambda x : len(x))

#On renomme les colonnes
df_nID = df_nID.rename(columns={'nconst' : 'n_ID', 'tconst' : 'films_joués', 'primaryName' : 'Nom', 'birthYear' : 'Année_naissance', 'deathYear' : 'Année_décès'})

#Plus qu'a exporter!
df_nID.to_csv('df_nID.csv', index = False)

In [66]:
df_nID

,n_ID,films_joués,Nom,Année_naissance,Année_décès,Nb_films
0,nm0000001,"['tt0023926', 'tt0024025', 'tt0025164', 'tt002...",Fred Astaire,1899.0,1987.0,64
1,nm0000002,"['tt0037382', 'tt0037610', 'tt0038355', 'tt003...",Lauren Bacall,1924.0,2014.0,79
2,nm0000003,"['tt0044881', 'tt0046200', 'tt0047607', 'tt004...",Brigitte Bardot,1934.0,NaN,39
3,nm0000004,"['tt0076816', 'tt0077147', 'tt0077621', 'tt007...",John Belushi,1949.0,1982.0,105
4,nm0000005,"['tt0043048', 'tt0064793', 'tt0064897', 'tt006...",Ingmar Bergman,1918.0,2007.0,11
...,...,...,...,...,...,...
3432237,nm9993700,['tt8744178'],Sexy Angel,NaN,NaN,1
3432238,nm9993701,['tt8736744'],Sanjai Kuriakose,NaN,NaN,1
3432239,nm9993703,"['tt11212278', 'tt26598427']",James Craigmyle,NaN,NaN,2
3432240,nm9993708,"['tt11697102', 'tt11702702', 'tt11772842', 'tt...",Eli Bevins,NaN,NaN,5
3432241,nm9993709,"['tt11702702', 'tt11772842', 'tt14508814', 'tt...",Lu Bevins,NaN,NaN,4

3. Enfin nettoyage de la table TMDB qui sera notre base pour le système de recommandation

In [15]:
df_tmdb_clean = df_tmdb[['imdb_id', 'budget', 'backdrop_path',  'homepage', 'overview', 'poster_path', 'popularity', 'tagline', 'vote_average', 'vote_count']]

In [16]:
df_tmdb_clean

,imdb_id,budget,backdrop_path,homepage,overview,poster_path,popularity,tagline,vote_average,vote_count
0,tt0029927,0,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,NaN,Blondie and Dagwood are about to celebrate the...,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,2.852,The favorite comic strip of millions at last o...,7.214,7
1,tt0011436,0,NaN,NaN,NaN,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,1.091,NaN,0.000,0
2,tt0055747,0,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,NaN,Love at Twenty unites five directors from five...,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,3.770,The Intimate Secrets of Young Lovers,6.700,41
3,tt0094675,0,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,NaN,Taisto Kasurinen is a Finnish coal miner whose...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,9.214,NaN,7.046,248
4,tt0092149,0,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,NaN,"An episode in the life of Nikander, a garbage ...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,6.282,NaN,7.182,269
...,...,...,...,...,...,...,...,...,...,...
309567,tt24962414,0,/oGW8uF821i8VowzpmECbxk7QXNs.jpg,NaN,The film tells the story of the heavy-duty pol...,/tzF2BndyY3HIf2KjJR1FBYoIqTp.jpg,1.307,NaN,0.000,0
309568,tt17352384,0,/oQ429AcD85ttxvOxAaYpETnAsW0.jpg,NaN,Mozambique requests from Russia is being helpe...,/nqMk6TIUwqSMRc6QPKYguNr9Ql0.jpg,1.238,NaN,5.000,3
309569,tt8223104,0,/fJhruCWu4sx3TKhFigEVntiVL93.jpg,https://selectedfilms.com/marcelino-el-mejor-p...,"An account of the life, work and many triumphs...",/btNlb2H3NXuBCN5J1FB9IVddYR.jpg,0.600,NaN,6.000,2
309570,tt14213656,0,NaN,NaN,"Three Canadian Holocaust survivors, with unans...",/uLfathKx9hauVKdasJc8A720kvb.jpg,2.558,"Three Canadian Holocaust survivors, with unans...",0.000,0
309571,tt27688034,0,NaN,NaN,A man on Earth discovers a man in outer space....,/1tw43TQ3fgKP6QW9uyOvclWInkd.jpg,1.572,NaN,0.000,0

In [ ]:
df_tID = pd.merge(df_tID, df_tmdb_tconst, how = 'left', left_on= 't_ID', right_on = 'imdb_id')

In [91]:
df_tID = df_tID.drop('imdb_id', axis = 1).reset_index()