In [1]:
import pandas as pd

In [2]:
link1 = "./BD/df_basic_name_clean.csv"
link2 = "./BD/df_t_akas_clean.csv"
link3 = "./BD/df_t_basics_clean.csv"
link4 = "./BD/df_t_crew_clean.csv"
link5 = "./BD/df_t_episode_clean.csv"
link6 = "./BD/df_t_principals_clean.csv"
link7 = "./BD/df_t_ratings_clean.csv"
link8 = "./BD/tmdb_full.csv"
link9 = "./BD/df_tID.csv"

In [4]:
df_basic_name = pd.read_csv(link1)

In [5]:
df_t_akas = pd.read_csv(link2)

In [7]:
df_t_basics = pd.read_csv(link3)

In [8]:
df_t_crew = pd.read_csv(link4)

In [ ]:
df_t_episode = pd.read_csv(link5nope)

In [9]:
df_t_principals = pd.read_csv(link6)

In [10]:
df_t_ratings = pd.read_csv(link7)

In [14]:
df_tmdb = pd.read_csv(link8)

C:\Users\Antoine\AppData\Local\Temp\ipykernel_14296\4261131250.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb = pd.read_csv(link8)

In [3]:
df_tID = pd.read_csv(link9)

On veut 2 df: un df avec index tconst et un avec index nconst
1.  Commençons par df_tID

In [ ]:
# Prépartion table title basics en premier car elle permet de selectionner les 'movies' et les années souhaitées
df_tb_tconst = df_t_basics[(df_t_basics['titleType'] == 'movie') & (df_t_basics['startYear'] >= 1960)]
df_tb_tconst = df_tb_tconst[['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes', 'genres']]

#Préparation table title principals
df_ptconst = df_t_principals.groupby('tconst').agg(list).reset_index()
df_ptconst = df_ptconst.drop('category', axis = 1)

#Premier merge avec title basic en pivot
df_tID = pd.merge(df_tb_tconst, df_ptconst, how = 'left', left_on='tconst', right_on='tID')

#2e merge avec akas deja nettoyé
df_tID = pd.merge(df_tID, df_t_akas, how = 'left', left_on='tconst', right_on='titleId')

#3e merge avec ratings déjà nettoyé
df_tID = pd.merge(df_tID, df_t_ratings, how = 'left', on='tconst')

#Renommage des colonnes
df_tID = df_tID.rename(columns={'tconst' : 't_ID', 'primaryTitle' : 'Titre_Principal', 'startYear' : 'Année', 'genres' : 'Genres', 'runtimeMinutes' : 'Durée', 'nID_implique' : 'n_ID_liste', 'title' : 'Titres_possibles' 'averageRating' : 'Note_moyenne', 'numVotes' : 'Nb_votants'})

#Drop colonnes doublons
df_tID = df_tID.drop(['tID', 'titleId'], axis = 1)

#Trie par année
df_tID = df_tID.sort_values('Année')

#reset index
df_tID= df_tID.reset_index().drop('index', axis = 1)

#Export
df_tID.to_csv('df_tID.csv', index = False)

Pourquoi pas un dropna qui retire la moitié du df mais nous permet de travailler sur un propre avec uniquement des valeurs renseignées...

In [18]:
df_tID.dropna()

,t_ID,Titre_Principal,Année,Durée,Genres,n_ID_liste,Titres_possibles,Note_moyenne,Nb_votants
5,tt0281816,King of the Swindlers,1960.0,90.0,"['Adventure', 'Comedy']","['nm0348338', 'nm0638151', 'nm11361678', 'nm11...","['Dolandiricilar Sahi', 'King of the Swindlers...",5.6,36.0
7,tt0155986,Quai du Point-du-Jour,1960.0,100.0,['Drama'],"['nm0140153', 'nm0124482', 'nm0688651', 'nm050...","['Quai du Point-du-Jour', 'Quai du Point-du-Jo...",5.5,29.0
8,tt0279389,Sahasra Siracheda Apoorva Chinthamani,1960.0,136.0,"['Action', 'Drama', 'Romance']","['nm0710564', 'nm0222160', 'nm0707351', 'nm034...","['Sahasra Siracheda Apoorva Chinthamani', 'Sah...",8.0,18.0
10,tt0279106,Beyond the Nights,1960.0,112.0,"['Crime', 'Drama']","['nm0767945', 'nm0437561', 'nm0244428', 'nm085...","['Gecelerin Ötesi', 'Beyond the Nights', 'Beyo...",7.7,355.0
12,tt0277796,Lela Manja,1960.0,115.0,"['Adventure', 'Drama', 'Family']","['nm0537044', 'nm0787921', 'nm1401969', 'nm501...","['Lela Manja', 'Lela Manja']",8.7,18.0
...,...,...,...,...,...,...,...,...,...
500168,tt32842974,The Code,2024.0,98.0,['Drama'],"['nm0114430', 'nm6221606', 'nm10789029', 'nm69...","['The Code', 'The Code', 'The Code', 'The Code...",6.7,35.0
500170,tt32933495,Land of Happiness,2024.0,124.0,['Drama'],"['nm4983186', 'nm1310525', 'nm7691811', 'nm348...","['Haengbog-ui nala', 'Haengbog-ui nala', 'Land...",6.2,126.0
500175,tt32844188,Petra Kelly - Act Now!,2024.0,104.0,['Documentary'],"['nm4395079', 'nm1110142', 'nm1110142', 'nm132...","['Petra Kelly - Act Now!', 'Petra Kelly - Act ...",8.0,27.0
500176,tt32313870,Blue Cave,2024.0,88.0,['Drama'],"['nm2792064', 'nm5271084', 'nm1204652', 'nm206...","['Mavi Magara', 'Blå grotta', 'Blå hule', 'Błę...",5.3,4221.0
501983,tt1692249,A Savior Red,2025.0,87.0,['Thriller'],"['nm3382713', 'nm2968782', 'nm3989541', 'nm151...","['A Savior Red', 'A Savior Red']",7.6,40.0

2. Ensuite un df_nID

In [15]:
df_tmdb_clean = df_tmdb[['imdb_id', 'budget', 'backdrop_path',  'homepage', 'overview', 'poster_path', 'popularity', 'tagline', 'vote_average', 'vote_count']]

In [16]:
df_tmdb_clean

,imdb_id,budget,backdrop_path,homepage,overview,poster_path,popularity,tagline,vote_average,vote_count
0,tt0029927,0,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,NaN,Blondie and Dagwood are about to celebrate the...,/zBiHKhXklvTFwj4M1uEUcQGAVJ.jpg,2.852,The favorite comic strip of millions at last o...,7.214,7
1,tt0011436,0,NaN,NaN,NaN,/6xUbUCvndklbGVYiljHr34NTxSl.jpg,1.091,NaN,0.000,0
2,tt0055747,0,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,NaN,Love at Twenty unites five directors from five...,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,3.770,The Intimate Secrets of Young Lovers,6.700,41
3,tt0094675,0,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,NaN,Taisto Kasurinen is a Finnish coal miner whose...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,9.214,NaN,7.046,248
4,tt0092149,0,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,NaN,"An episode in the life of Nikander, a garbage ...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,6.282,NaN,7.182,269
...,...,...,...,...,...,...,...,...,...,...
309567,tt24962414,0,/oGW8uF821i8VowzpmECbxk7QXNs.jpg,NaN,The film tells the story of the heavy-duty pol...,/tzF2BndyY3HIf2KjJR1FBYoIqTp.jpg,1.307,NaN,0.000,0
309568,tt17352384,0,/oQ429AcD85ttxvOxAaYpETnAsW0.jpg,NaN,Mozambique requests from Russia is being helpe...,/nqMk6TIUwqSMRc6QPKYguNr9Ql0.jpg,1.238,NaN,5.000,3
309569,tt8223104,0,/fJhruCWu4sx3TKhFigEVntiVL93.jpg,https://selectedfilms.com/marcelino-el-mejor-p...,"An account of the life, work and many triumphs...",/btNlb2H3NXuBCN5J1FB9IVddYR.jpg,0.600,NaN,6.000,2
309570,tt14213656,0,NaN,NaN,"Three Canadian Holocaust survivors, with unans...",/uLfathKx9hauVKdasJc8A720kvb.jpg,2.558,"Three Canadian Holocaust survivors, with unans...",0.000,0
309571,tt27688034,0,NaN,NaN,A man on Earth discovers a man in outer space....,/1tw43TQ3fgKP6QW9uyOvclWInkd.jpg,1.572,NaN,0.000,0

In [ ]:
df_tID = pd.merge(df_tID, df_tmdb_tconst, how = 'left', left_on= 't_ID', right_on = 'imdb_id')

In [91]:
df_tID = df_tID.drop('imdb_id', axis = 1).reset_index()