In [2]:
import pandas as pd

In [52]:
link1 = "./BD/df_basic_name_clean.csv"
link2 = "./BD/df_t_akas_clean.csv"
link3 = "./BD/df_t_basics_clean.csv"
link4 = "./BD/df_t_crew_clean.csv"
link5 = "./BD/df_t_episode_clean.csv"
link6 = "./BD/df_t_principals_clean.csv"
link7 = "./BD/df_t_ratings_clean.csv"
link8 = "./BD/tmdb_full.csv"

In [4]:
df_basic_name = pd.read_csv(link1)

In [5]:
df_t_akas = pd.read_csv(link2)

In [7]:
df_t_basics = pd.read_csv(link3)

In [8]:
df_t_crew = pd.read_csv(link4)

In [ ]:
df_t_episode = pd.read_csv(link5nope)

In [9]:
df_t_principals = pd.read_csv(link6)

In [10]:
df_t_ratings = pd.read_csv(link7)

In [53]:
df_tmdb = pd.read_csv(link8)

C:\Users\antoi\AppData\Local\Temp\ipykernel_22472\4261131250.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb = pd.read_csv(link8)

On veut 2 df: un df avec index tconst et un avec index nconst
1.  Commençons par df_tID

In [ ]:
# Prépartion table title basics en premier car elle permet de selectionner les 'movies' et les années souhaitées
df_tb_tconst = df_t_basics[(df_t_basics['titleType'] == 'movie') & (df_t_basics['startYear'] >= 1960)]
df_tb_tconst = df_tb_tconst[['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes', 'genres']]

#Préparation table title principals
df_ptconst = df_t_principals.groupby('tconst').agg(list).reset_index()
df_ptconst = df_ptconst.drop('category', axis = 1)

#Premier merge avec title basic en pivot
df_tID = pd.merge(df_tb_tconst, df_ptconst, how = 'left', left_on='tconst', right_on='tID')

#2e merge avec akas deja nettoyé
df_tID = pd.merge(df_tID, df_t_akas, how = 'left', left_on='tconst', right_on='titleId')

#3e merge avec ratings déjà nettoyé
df_tID = pd.merge(df_tID, df_t_ratings, how = 'left', on='tconst')

#Renommage des colonnes
df_tID = df_tID.rename(columns={'tconst' : 't_ID', 'primaryTitle' : 'Titre_Principal', 'startYear' : 'Année', 'genres' : 'Genres', 'runtimeMinutes' : 'Durée', 'nID_implique' : 'n_ID_liste', 'title' : 'Titres_possibles' 'averageRating' : 'Note_moyenne', 'numVotes' : 'Nb_votants'})

#Drop colonnes doublons
df_tID = df_tID.drop(['tID', 'titleId'], axis = 1)

#Trie par année
df_tID = df_tID.sort_values('Année')

#reset index
df_tID= df_tID.reset_index()

#Export
df_tID.to_csv('df_tID.csv', index = False)

Pourquoi pas un dropna qui retire la moitié du df mais nous permet de travailler sur un propre avec uniquement des valeurs renseignées...

In [87]:
df_tID

,index,t_ID,Titre_Principal,Année,Durée,Genres,n_ID_liste,Titres_possibles,Note_moyenne,Nb_votants
5,94087,tt0281816,King of the Swindlers,1960.0,90.0,"['Adventure', 'Comedy']","[nm0348338, nm0638151, nm11361678, nm11361679,...","['Dolandiricilar Sahi', 'King of the Swindlers...",5.6,36.0
7,54685,tt0155986,Quai du Point-du-Jour,1960.0,100.0,['Drama'],"[nm0140153, nm0124482, nm0688651, nm0501069, n...","['Quai du Point-du-Jour', 'Quai du Point-du-Jo...",5.5,29.0
8,93263,tt0279389,Sahasra Siracheda Apoorva Chinthamani,1960.0,136.0,"['Action', 'Drama', 'Romance']","[nm0710564, nm0222160, nm0707351, nm0347953, n...","['Sahasra Siracheda Apoorva Chinthamani', 'Sah...",8.0,18.0
10,93127,tt0279106,Beyond the Nights,1960.0,112.0,"['Crime', 'Drama']","[nm0767945, nm0437561, nm0244428, nm0850809, n...","['Gecelerin Ötesi', 'Beyond the Nights', 'Beyo...",7.7,355.0
12,92730,tt0277796,Lela Manja,1960.0,115.0,"['Adventure', 'Drama', 'Family']","[nm0537044, nm0787921, nm1401969, nm5012609, n...","['Lela Manja', 'Lela Manja']",8.7,18.0
...,...,...,...,...,...,...,...,...,...,...
500168,377523,tt32842974,The Code,2024.0,98.0,['Drama'],"[nm0114430, nm6221606, nm10789029, nm6906797, ...","['The Code', 'The Code', 'The Code', 'The Code...",6.7,35.0
500170,378368,tt32933495,Land of Happiness,2024.0,124.0,['Drama'],"[nm4983186, nm1310525, nm7691811, nm3482978, n...","['Haengbog-ui nala', 'Haengbog-ui nala', 'Land...",6.2,126.0
500175,377569,tt32844188,Petra Kelly - Act Now!,2024.0,104.0,['Documentary'],"[nm4395079, nm1110142, nm1110142, nm13261531, ...","['Petra Kelly - Act Now!', 'Petra Kelly - Act ...",8.0,27.0
500176,372289,tt32313870,Blue Cave,2024.0,88.0,['Drama'],"[nm2792064, nm5271084, nm1204652, nm2066190, n...","['Mavi Magara', 'Blå grotta', 'Blå hule', 'Błę...",5.3,4221.0
501983,257175,tt1692249,A Savior Red,2025.0,87.0,['Thriller'],"[nm3382713, nm2968782, nm3989541, nm1510576, n...","['A Savior Red', 'A Savior Red']",7.6,40.0

In [88]:
df_tmdb_tconst = df_tmdb[['imdb_id', 'budget', 'backdrop_path',  'homepage', 'overview', 'poster_path', 'popularity', 'tagline']]

In [ ]:
df_tID = pd.merge(df_tID, df_tmdb_tconst, how = 'left', left_on= 't_ID', right_on = 'imdb_id')

In [91]:
df_tID = df_tID.drop('imdb_id', axis = 1).reset_index()

In [93]:
df_tID.isna().sum()

level_0                  0
index                    0
t_ID                     0
Titre_Principal          0
Année                    0
Durée                    0
Genres                   0
n_ID_liste               0
Titres_possibles         0
Note_moyenne             0
Nb_votants               0
budget               95729
backdrop_path       158116
homepage            226231
overview            104461
poster_path         107813
popularity           95729
tagline             205524
dtype: int64

In [94]:
df_tID[df_tID['poster_path'].isna() == False]

,level_0,index,t_ID,Titre_Principal,Année,Durée,Genres,n_ID_liste,Titres_possibles,Note_moyenne,Nb_votants,budget,backdrop_path,homepage,overview,poster_path,popularity,tagline
3,3,93127,tt0279106,Beyond the Nights,1960.0,112.0,"['Crime', 'Drama']","[nm0767945, nm0437561, nm0244428, nm0850809, n...","['Gecelerin Ötesi', 'Beyond the Nights', 'Beyo...",7.7,355.0,0.0,/u1pBvX2Lt34YrVvnHAyYVEAERK6.jpg,NaN,"A group of young man from suburban, unite and ...",/alPb4Ck7BsTbJqxzUzdnodW6vxg.jpg,0.711,NaN
8,8,92635,tt0277581,Antara Dua Darjat,1960.0,129.0,"['Drama', 'Romance']","[nm0708422, nm0754273, nm1006427, nm11534528, ...","['Antara Dua Darjat', 'Antara Dua Darjat', 'Be...",8.0,48.0,0.0,NaN,http://cinemamalaysia.com.my/film/info/?id=Ant...,"Ghazali, a local musician, and his friends cam...",/nn9p9eYfoQlQ5Ba3w7KfApzYjz5.jpg,2.409,NaN
10,10,49023,tt0136201,The Flower Thief,1960.0,70.0,['Drama'],"[nm0574929, nm0571413, nm0377818, nm0262504, n...","['The Flower Thief', 'The Flower Thief']",6.8,83.0,0.0,/uOOcmEYqAFlFfMRzCWKp5e3a2AX.jpg,NaN,A beat vagabond traverses San Francisco's deep...,/vrcgqwcMKNPdTS5GRCoVamUIDu3.jpg,0.728,NaN
11,11,92611,tt0277453,"Ah, Love Is Beautiful",1960.0,90.0,"['Comedy', 'Drama', 'Western']","[nm0013487, nm0069661, nm0179516, nm0013567, n...","['¡Qué bonito amor!', 'Ah, Love Is Beautiful',...",6.7,18.0,0.0,NaN,NaN,Bride backs out of her wedding at the last pos...,/eQBmrf9UUTWgxGDU1kIDrK5rpN0.jpg,0.681,NaN
13,13,49078,tt0136394,My Niece Doesn't Do That,1960.0,95.0,['Comedy'],"[nm0175555, nm0077872, nm0639298, nm0917076, n...","['Meine Nichte tut das nicht', 'Conny, kvik og...",4.7,29.0,0.0,NaN,NaN,NaN,/90l7DW2GbdUwXifYZWVYzvjjL58.jpg,0.600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253244,253244,192273,tt12526976,Bhootpori,2024.0,110.0,['Horror'],"[nm4428541, nm3368782, nm0149828, nm1136348, n...","['Bhootpori', 'Bhootpori', 'Bhootpori', 'Bhoot...",5.6,194.0,0.0,NaN,NaN,Upcoming Movie By Soukarya Ghosal,/tHbJSnqYhtd1xKpQZCiziLUzthb.jpg,0.953,NaN
253250,253250,216203,tt13964390,Under Paris,2024.0,104.0,"['Action', 'Drama', 'Horror']","[nm0067367, nm4051466, nm6434640, nm7942430, n...","['Sous la Seine', 'Under Paris', 'En las profu...",5.2,33411.0,0.0,NaN,NaN,"In the Summer of 2024, Paris is hosting the Wo...",/nKtwqGlZxaVQJPY0ZwglEp9Zvri.jpg,0.600,NaN
253267,253267,216209,tt13964562,Brush of the God,2024.0,74.0,"['Fantasy', 'Sci-Fi']","[nm1102191, nm0383688, nm1139614, nm0762965, n...","['Kami no Fude', 'Brush of the God', 'Brush of...",6.2,11.0,0.0,NaN,https://motion-gallery.net/projects/kami_no_fude,Upcoming tokusatsu kaiju short film from Keizo...,/ycmOrmjmWWo32goVoCowoQeH5Sn.jpg,0.600,NaN
253272,253272,170666,tt11097384,Spaceman,2024.0,107.0,"['Adventure', 'Drama', 'Sci-Fi']","[nm0001191, nm1659547, nm0200452, nm2471798, n...","['Spaceman', 'Spaceman', 'Spaceman', 'El astro...",5.7,40043.0,0.0,NaN,https://www.netflix.com/title/81301595/,"Jakub, an astronaut sent to the edge of the ga...",/vexYaA91thaCBtnE0c3KPm8nw4n.jpg,1.257,NaN
253274,253274,267559,tt18272208,Here,2024.0,104.0,['Drama'],"[nm0000158, nm0000705, nm0079273, nm0717709, n...","['Here', 'Here', 'Here', 'Here', 'Aquí', 'Aquí...",6.2,5025.0,0.0,NaN,NaN,"An odyssey through time and memory, centered a...",/2XgGbejCgsTYD7s2ntYsnRBngAt.jpg,0.959,NaN