In [1]:
import pandas as pd

In [2]:
link = "./BD/name.basics.tsv.gz"
df = pd.read_csv(link, sep = "\t", compression = "gzip", nrows = 1000)
df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
995,nm0000997,Gary Busey,1944,\N,"actor,producer,composer","tt0077280,tt0093409,tt0102685,tt0105690"
996,nm0000998,Jake Busey,1971,\N,"actor,producer,music_department","tt0120201,tt0309698,tt0116365,tt0120660"
997,nm0000999,Red Buttons,1919,2006,"actor,writer,miscellaneous","tt0076538,tt0069113,tt0050933,tt0056059"
998,nm0001000,Tom Byron,1961,\N,"actor,director,producer","tt2059288,tt0178845,tt0097039,tt0148895"
999,nm0001001,James Caan,1940,2022,"actor,director,stunts","tt0083190,tt0073631,tt0100157,tt0068646"