In [2]:
import pandas as pd

In [8]:
link1 = "./BD/name.basics.tsv.gz"
link2 = "./BD/title.akas.tsv.gz"
link3 = "./BD/title.basics.tsv.gz"
link4 = "./BD/title.crew.tsv.gz"
link5 = "./BD/title.episode.tsv.gz"
link6 = "./BD/title.principals.tsv.gz"
link7 = "./BD/title.ratings.tsv.gz"
link8 = "./BD/tmdb_full.csv"
df_basic_name = pd.read_csv(link1, sep = "\t", compression = "gzip", nrows = 1000)
df_t_akas = pd.read_csv(link2, sep = "\t", compression = "gzip", nrows = 1000)
df_t_basics = pd.read_csv(link3, sep = "\t", compression = "gzip", nrows = 1000)
df_t_crew = pd.read_csv(link4, sep = "\t", compression = "gzip", nrows = 1000)
df_t_episode = pd.read_csv(link5, sep = "\t", compression = "gzip", nrows = 1000)
df_t_principals = pd.read_csv(link6, sep = "\t", compression = "gzip", nrows = 1000)
df_t_ratings = pd.read_csv(link7, sep = "\t", compression = "gzip", nrows = 1000)
df_tmdb = pd.read_csv(link8, nrows = 1000)

In [14]:
df_t_episode

        tconst parentTconst seasonNumber episodeNumber
0    tt0031458   tt32857063           \N            \N
1    tt0041951    tt0041038            1             9
2    tt0042816    tt0989125            1            17
3    tt0042889    tt0989125           \N            \N
4    tt0043426    tt0040051            3            42
..         ...          ...          ...           ...
995  tt0077496    tt0068067            7             3
996  tt0077515    tt0075471            1            10
997  tt0077561    tt0958967            1            16
998  tt0077565    tt0165593           13             3
999  tt0077568    tt0077011            1             0

[1000 rows x 4 columns]

In [9]:
dfakas = df_t_akas.drop('types', axis =1)
dfakas = dfakas.drop('attributes', axis =1)
dfakas = dfakas.drop('language', axis =1)
dfakas = dfakas.drop('ordering', axis =1)
dfakas = dfakas.reset_index()

dico2 = {}
for ind in range(len(dfakas)):
    if dfakas.loc[ind, 'titleId'] in dico2.keys():
        dico2[dfakas.loc[ind, 'titleId']].append(dfakas.loc[ind, 'title'])
    else:
        dico2[dfakas.loc[ind, 'titleId']] = [dfakas.loc[ind, 'title']]
for key, liste in dico2.items():
    nouv_liste = list(set(liste))
    dico2[key] = str(nouv_liste)

df_a_merger = pd.DataFrame.from_dict(dico2, orient= 'index', columns = ['allTitles']).reset_index()

In [10]:
df_a_merger

         index                                          allTitles
0    tt0000001  ['Carmencita', 'カルメンチータ', 'Карменсіта', 'Καρμε...
1    tt0000002  ['Le clown et ses chiens', '道化師と犬', 'Der Clown...
2    tt0000003  ['Szegény Pierrot', "Бідний П'єро", 'Pauvre Pi...
3    tt0000004  ['Un bon bock', 'Полная кружка пива', 'Ein gut...
4    tt0000005  ['A patkolókovács', 'Blacksmith Shop', 'Schmie...
..         ...                                                ...
211  tt0000214  ['Испанский флаг сорван', 'Tearing Down the Sp...
212  tt0000215  ['Smích a plác', 'Смех и плач', 'Tears and Lau...
213  tt0000216  ['Visita de Doña María Cristina y Alfonso XIII...
214  tt0000217                                ['Waves and Spray']
215  tt0000218  ['El caso Dreyfus', 'Дело Дрейфуса', "L'affair...

[216 rows x 2 columns]