In [2]:
import pandas as pd
import numpy as np

In [6]:
linkKPI1 =  "./BD/kpi1.csv"
df_Kpi1= pd.read_csv(linkKPI1, sep = ",")
df_Kpi1

,nconst,primaryName,tconst,primaryTitle,startYear
0,nm0000001,Fred Astaire,tt0062572,It Takes a Thief,1968
1,nm0000001,Fred Astaire,tt0028757,A Damsel in Distress,1937
2,nm0000001,Fred Astaire,tt0066194,The Over-the-Hill Gang Rides Again,1970
3,nm0000001,Fred Astaire,tt0050419,Funny Face,1957
4,nm0000001,Fred Astaire,tt0029546,Shall We Dance,1937
...,...,...,...,...,...
10089661,nm9993708,Eli Bevins,tt21028920,I Got the Mic!,2020
10089662,nm9993709,Lu Bevins,tt11772842,Sound Mind: Sound Mind,2021
10089663,nm9993709,Lu Bevins,tt11702702,ID,2015
10089664,nm9993709,Lu Bevins,tt21028920,I Got the Mic!,2020
10089665,nm9993709,Lu Bevins,tt14508814,Sound Mind: Kiss of Judas,2021

In [7]:
df_Kpi1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10089666 entries, 0 to 10089665
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   nconst        object
 1   primaryName   object
 2   tconst        object
 3   primaryTitle  object
 4   startYear     object
dtypes: object(5)
memory usage: 384.9+ MB